*{
  outline: 1px solid red;
}
body{
  background-color: #000000;
  color: #080808;
  font-size: 50px;

}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  height: 240px;
  background-color: rgb(138, 43, 226);
}
.comp2{
  height: 200px;
  background-color: rgb(244, 164, 96);
}